@CHARSET "UTF-8";


/* Old design */
div#rotten_box_outer { position: absolute; top: -1px; left: 0px; height: 20px; width: 200px; margin-left: 130px; }
div#rotten_box { height: 20px; width: 200px;}
div#rotten_box.fresh div { background-position: 0 0px !important; }
div#rotten_box.rotten div { background-position: 0 -20px !important; }
div#rotten_box div.background { background: url('chrome-extension://mamoeggegkocpbjfkmbhplbpjgeeabnk/icons/rt_lg_gray.png'); background-size: 20px; min-height: 20px; }
div#rotten_box div.foreground { background: url('chrome-extension://mamoeggegkocpbjfkmbhplbpjgeeabnk/icons/rt_lg.png'); background-size: 20px; min-height: 20px; }

/* New design */
div#rotten_box_outer_2012-10-03 { height: 14px; display: inline-block !important; width: 240px; margin-left: 6px; }
div#rotten_box_2012-10-03 { height: 14px; width: 140px; display: inline-block !important;}
div#rotten_box_2012-10-03.fresh div { background-position: 0 0px !important; }
div#rotten_box_2012-10-03.rotten div { background-position: 0 -14px !important; }
div#rotten_box_2012-10-03 div.background { background: url('chrome-extension://mamoeggegkocpbjfkmbhplbpjgeeabnk/icons/rt_lg_gray.png'); background-size: 14px; min-height: 14px; }
div#rotten_box_2012-10-03 div.foreground { background: url('chrome-extension://mamoeggegkocpbjfkmbhplbpjgeeabnk/icons/rt_lg.png'); background-size: 14px; min-height: 14px; }

